<!DOCTYPE HTML>
<!--
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>AcmeFormazione-NuovoCentro</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
<script src="js/jquery.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/skel-layers.min.js"></script>
<script src="js/init.js"></script>
<noscript>
	<link rel="stylesheet" href="/static/css/skel.css" />
	<link rel="stylesheet" href="/static/css/style.css" />
	<link rel="stylesheet" href="/static/css/style-xlarge.css" />
</noscript>
</head>
<body id="top">

	<!-- Header -->
	<header id="header" class="skel-layers-fixed">
		<h1>
			<a href="index">Acme Formazione</a>
		</h1>
		<nav id="nav">
			<ul>
				<li><a href="index">Home</a></li>
				<li><a href="attivita">Attività</a></li>
				<li><a href="centri">Centri</a></li>
				<li><a href="responsabili">Responsabili</a></li>
				<li><a th:href="@{/logout}" class="button special">logout</a></li>
			</ul>
		</nav>
	</header>

	<section id="one" class="wrapper style1">

		<div class="container">
			<h2>Nuovo Centro:</h2>
			<div class="container">
				<form th:action="@{/registracentro}" method="POST"
					th:object="${centro}">
					<p th:text="${exists}"></p>
					<label for="nome">Nome*</label> <br /> <label><input
						type="text" th:field="*{nome}" required></label> <br /> <label
						th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></label>
					<br /> <label for="indirizzo">Indirizzo*</label> <br /> <label><input
						type="text" th:field="*{indirizzo}" required></label> <br /> <label
						th:if="${#fields.hasErrors('indirizzo')}" th:errors="*{indirizzo}"></label>
					<br /> <label for="email">Email*</label> <br /> <label><input
						type="text" th:field="*{email}" required></label> <br /> <label
						th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
					<br /> <label for="numeroTelefono">Telefono*</label> <br /> <label><input
						type="text" th:field="*{numeroTelefono}"></label> <br /> <label
						th:if="${#fields.hasErrors('numeroTelefono')}"
						th:errors="*{numeroTelefono}"></label> <br /> <label
						for="capienza">capienza</label> <br /> <label><input
						type="text" th:field="*{capienza}"></label> <br /> <label
						th:if="${#fields.hasErrors('capienza')}" th:errors="*{capienza}"></label>
					<br /> <input type="submit" value="Sign In"> <br />

				</form>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="container">

			<ul class="copyright">
				<li>&copy; ACME FORMAZIONE SPA</li>
				<li>Capitale sociale: 230000</li>
				<li>Created by: Flavio Pierfederici, Riccardo Ungaro, Edoardo
					Costantini</li>

			</ul>
		</div>
	</footer>

</body>
</html>