
<!DOCTYPE HTML>
<!--
			Ion by TEMPLATED
			templated.co @templatedco
			Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
		-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>AcmeFormazione</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
<script src="js/jquery.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/skel-layers.min.js"></script>
<script src="js/init.js"></script>
<noscript>
	<link rel="stylesheet" href="static/css/skel.css" />
	<link rel="stylesheet" href="static/css/style.css" />
	<link rel="stylesheet" href="static/css/style-xlarge.css" />
</noscript>
</head>
<body id="top">

	<!-- Header -->
	<header id="header" class="skel-layers-fixed">
		<h1>
			<a href="/index">Acme Formazione</a>
		</h1>
		<nav id="nav">
			<ul>
				<li><a href="/index">Home</a></li>
				<li><a href="/attivita">Attività</a></li>
				<li><a href="/centri">Centri</a></li>
				<li><a href="/responsabili">Responsabili</a></li>
				<li><a th:href="@{/logout}" class="button special">logout</a></li>
				<li><p th:text="${direttore?.username}"></p></li>
			</ul>
		</nav>
	</header>

	<section id="one" class="wrapper style1">
		<header class="major">
			<h2>Dashboard Direttore</h2>
			<div>
				<p>Responsabili:</p>
				<table>
					<thead>
						<tr>
							<th scope="col">Nome</th>
							<th scope="col">Cognome</th>
							<th scope="col">Email</th>
							<th scope="col">Centro</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="responsabile : ${listaresponsabili}">
							<td><span th:text="${responsabile?.nome}"></span></td>
							<td><span th:text="${responsabile?.cognome}"></span></td>
							<td><span th:text="${responsabile?.username}"></span></td>
							<td><span th:text="${responsabile?.centro?.nome}"></span></td>
						</tr>
					</tbody>
				</table>
				<a th:href="aggiungiresponsabile"> Aggiungi un Responsabile</a>
			</div>

			<br /> <br />
			<div>

				<p>Centri registrati, clicca su uno dei centri per gestirlo.</p>

				<div>
					<table>
						<thead>
							<tr>
								<th scope="col">Nome</th>
								<th scope="col">Email</th>
								<th scope="col">Indirizzo</th>
								<th scope="col">Responsabile</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="centro : ${listacentri}">
								<td><a th:href="@{'/gestiscicentro' + '/' + ${centro.id}}"><span
										th:text="${centro.nome}"></span></a></td>
								<td><span th:text="${centro.email}"></span></td>
								<td><span th:text="${centro.indirizzo}"></span></td>
								<td><span th:text="${centro.responsabile?.username}"></span></td>
							</tr>
						</tbody>
					</table>
					<a th:href="aggiungicentro"> Aggiungi un Centro</a>

				</div>
			</div>

		</header>
	</section>
	<!-- Footer -->
	<footer id="footer">
		<div class="container">

			<ul class="copyright">
				<li>&copy; ACME FORMAZIONE SPA</li>
				<li>Capitale sociale: 230000</li>
				<li>Created by: Flavio Pierfederici, Riccardo Ungaro, Edoardo
					Costantini</li>

			</ul>
		</div>
	</footer>
</body>
</html>