<!DOCTYPE HTML>
<!--
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>AcmeFormazione-NuovaAttività</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
<script src="js/jquery.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/skel-layers.min.js"></script>
<script src="js/init.js"></script>
<noscript>
	<link rel="stylesheet" href="/static/css/skel.css" />
	<link rel="stylesheet" href="/static/css/style.css" />
	<link rel="stylesheet" href="/static/css/style-xlarge.css" />
</noscript>
</head>

<body id="top">

	<!-- Header -->
	<header id="header" class="skel-layers-fixed">
		<h1>
			<a href="index">Acme Formazione</a>
		</h1>
		<nav id="nav">
			<ul>
				<li><a href="index">Home</a></li>
				<li><a href="attivita">Attività</a></li>
				<li><a href="centri">Centri</a></li>
				<li><a href="responsabili">Responsabili</a></li>
				<li><a th:href="@{/logout}" class="button special">logout</a></li>
			</ul>
		</nav>
	</header>

	<section id="one" class="wrapper style1">
		<header class="major">

			<h2>Creazione nuova Attività:</h2>

			<p>Inserisci i dati dell'attività:</p>

			<div class="container">
				<form th:action="@{/registraAttivita}" method="POST"
					th:object="${attivita}">
					<p th:text="${exists}"></p>
					<label for="nome">Nome*</label> <br /> <label> <input
						type="text" th:field="*{nome}" required></label> <br /> <label
						th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
					</label> <br /> <label for="indirizzo">Descrizione</label> <br /> <label>
						<input type="text" th:field="*{descrizione}">
					</label> <br /> <label th:if="${#fields.hasErrors('descrizione')}"
						th:errors="*{indirizzo}"></label> <br /> <label for="text">Giorno*</label>
					<br /> <label><input type="text" th:field="*{giorno}" required></label>
					<br /> <label th:if="${#fields.hasErrors('giorno')}"
						th:errors="*{giorno}"></label> <br /> <label for="numeroTelefono">Ora*</label>
					<br /> <label><input type="time" th:field="*{ora}" required></label>
					<br /> <label th:if="${#fields.hasErrors('ora')}"
						th:errors="*{ora}"></label> <br /> <input type="submit"
						name="submit" value="invia" /> <br />

				</form>

			</div>

		</header>
		<div class="container">
			<div class="row">
				<div class="4u"></div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="container">

			<ul class="copyright">
				<li>&copy; ACME FORMAZIONE SPA</li>
				<li>Capitale sociale: 230000</li>
				<li>Created by: Flavio Pierfederici, Riccardo Ungaro, Edoardo
					Costantini</li>

			</ul>
		</div>
	</footer>

</body>
</html>