
<!DOCTYPE HTML>
<!--
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>AcmeFormazione-NuovoAllievo</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
<script src="js/jquery.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/skel-layers.min.js"></script>
<script src="js/init.js"></script>
<noscript>
	<link rel="stylesheet" href="/static/css/skel.css" />
	<link rel="stylesheet" href="/static/css/style.css" />
	<link rel="stylesheet" href="/static/css/style-xlarge.css" />
</noscript>
</head>

<body id="top">

	<!-- Header -->
	<header id="header" class="skel-layers-fixed">
		<h1>
			<a href="index">Acme Formazione</a>
		</h1>
		<nav id="nav">
			<ul>
				<li><a href="index">Home</a></li>
				<li><a href="attivita">Attività</a></li>
				<li><a href="centri">Centri</a></li>
				<li><a href="responsabili">Responsabili</a></li>
				<li><a th:href="@{/logout}" class="button special">logout</a></li>
			</ul>
		</nav>
	</header>

	<section id="one" class="wrapper style1">
		<header class="major">
			<h2>Iscrizione nuovo Allievo:</h2>

			<p>Inserisci i dati dell'allievo:</p>

			<div class="container">

				<form th:action="@{/registraAllievo}" method="post"
					th:object="${allievo}">

					<p style="colore: red" th:text="${exists}"></p>

					<div>
						<label>Nome*</label>
						<p style="color: red" th:if="${#fields.hasErrors('nome')}"
							th:errors="*{nome}"></p>
						<br> <input type="text" th:field="*{nome}"
							placeholder="Mario" required /><br>
					</div>

					<div>
						<label>Cognome*</label>
						<p style="color: reb" th:if="${#fields.hasErrors('cognome')}"
							th:errors="*{cognome}"></p>
						<br> <input type="text" th:field="*{cognome}"
							placeholder="Rossi" required /><br>
					</div>

					<div>
						<label>E-mail*</label>
						<p style="color: red" th:if="${#fields.hasErrors('email')}"
							th:errors="*{email}"></p>
						<br> <input type="email" th:field="*{email}"
							placeholder="example@dominio.it" required/><br>
					</div>

					<div>
						<label>Telefono</label>
						<p style="color: red" th:if="${#fields.hasErrors('telefono')}"
							th:errors="*{telefono}"></p>
						<br> <input type="tel" th:field="*{telefono}"
							placeholder="111 222333444" /><br>
					</div>

					<div>
						<label>Data di nascita*</label>
						<p style="color: red" th:if="${#fields.hasErrors('dataNascita')}"
							th:errors="*{dataNascita}"></p>
						<br> <input type="text" name="dataNascita" placeholder="dd/MM/yyyy" required/><br>
					</div>

					<div>
						<label>Città*</label>
						<p style="color: red" th:if="${#fields.hasErrors('residenza')}"
							th:errors="*{residenza}"></p>
						<br> <input type="text" th:field="*{residenza}"
							placeholder="es. Roma" required/><br>

					</div>

					<br> <input type="submit" name="submit" value="invia" /><br>
				</form>

			</div>
		</header>
		<div class="container">
			<div class="row">
				<div class="4u"></div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="container">

			<ul class="copyright">
				<li>&copy; ACME FORMAZIONE SPA</li>
				<li>Capitale sociale: 230000</li>
				<li>Created by: Flavio Pierfederici, Riccardo Ungaro, Edoardo
					Costantini</li>

			</ul>
		</div>
	</footer>

</body>
</html>