
<!DOCTYPE HTML>
<!--
			Ion by TEMPLATED
			templated.co @templatedco
			Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
		-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>AcmeFormazione-RisulttiRicerca</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
<script src="js/jquery.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/skel-layers.min.js"></script>
<script src="js/init.js"></script>
<noscript>
	<link rel="stylesheet" href="../../static/css/skel.css" />
	<link rel="stylesheet" href="../../static/css/style-large.css" />
	<link rel="stylesheet" href="../../static/css/style-xlarge.css" />
</noscript>
</head>
<body>

	<!-- Header -->
	<header id="header" class="skel-layers-fixed">
		<h1>
			<a href="/index">Acme Formazione</a>
		</h1>
		<nav id="nav">
			<ul>
				<li><a href="/index">Home</a></li>
				<li><a href="/attivita">Attività</a></li>
				<li><a href="/centri">Centri</a></li>
				<li><a href="/responsabili">Responsabili</a></li>
				<li><a th:href="@{/logout}" class="button special">logout</a></li>
			</ul>
		</nav>
	</header>

	<section id="one" class="wrapper style1">
		<header class="major">
			<h2>Gestione Allievo</h2>
			<p>Sei il responsabile di questo Allievo:</p>
			<table>
				<thead>
					<tr>
						<th scope="col">Nome</th>
						<th scope="col">Cognome</th>
						<th scope="col">Email</th>
						<th scope="col">Numero Telefono</th>
						<th scope="col">Data Nascita</th>
						<th scope="col">Residenza</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${allievo?.nome}"></td>
						<td th:text="${allievo?.cognome}"></td>
						<td th:text="${allievo?.email}"></td>
						<td th:text="${allievo?.telefono}"></td>
						<td th:text="${allievo?.dataNascita}"></td>
						<td th:text="${allievo?.residenza}"></td>

					</tr>
				</tbody>
			</table>
		</header>
		<ul><h3>Attivita a cui è possibile iscriversi:</h3></ul>
			<table>
				<thead>
					<tr>
						<th scope="col">Nome</th>
						<th scope="col">Descrizione</th>
						<th scope="col">Giorno</th>
						<th scope="col">Ora</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="attivita : ${listaattivita}">
						<td><span th:text="${attivita?.nome}"></span></td>
						<td><span th:text="${attivita?.descrizione}"></span></td>
						<td><span th:text="${attivita?.giorno}"></span></td>
						<td><span th:text="${attivita?.ora}"></span></td>
						<td><a th:href="@{'/iscrivi' + '/' + ${allievo.id} + '/' + ${attivita.id}}">Iscrivi</a></td>
					</tr>
				</tbody>
			</table>

			<!-- Footer -->
			<footer id="footer">
				<div class="container">

					<ul class="copyright">
						<li>&copy; ACME FORMAZIONE SPA</li>
						<li>Capitale sociale: 230000</li>
						<li>Created by: Flavio Pierfederici, Riccardo Ungaro, Edoardo
							Costantini</li>

					</ul>
				</div>
			</footer>
		</ul>
	</section>
</body>
</html>