<!DOCTYPE HTML>
<!--
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>AcmeFormazione</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
<script src="js/jquery.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/skel-layers.min.js"></script>
<script src="js/init.js"></script>
<noscript>
	<link rel="stylesheet" href="/static/css/skel.css" />
	<link rel="stylesheet" href="/static/css/style.css" />
	<link rel="stylesheet" href="/static/css/style-xlarge.css" />
</noscript>
</head>
<body id="top">

	<!-- Header -->
	<header id="header" class="skel-layers-fixed">
		<h1>
			<a href="index">Acme Formazione</a>
		</h1>
		<nav id="nav">
			<ul>
				<li><a href="index">Home</a></li>
				<li><a href="attivita">Attività</a></li>
				<li><a href="centri">Centri</a></li>
				<li><a href="responsabili">Responsabili</a></li>
				<li><a href="login" class="button special">Area Riservata</a></li>
			</ul>
		</nav>
	</header>

	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h2>Acme Formazione</h2>
			<p>Attività giornaliere di formazione</p>

			<ul class="actions">
				<li><a href="login" class="button big special">Area
						Riservata</a></li>
				<li><a href="chisiamo" class="button big alt">Chi siamo</a></li>
			</ul>
		</div>
	</section>

	<!-- One -->
	<section id="one" class="wrapper style1">
		<header class="major">
			<h2>Le attività di oggi</h2>



			<table>
				<tr>
					<th>Nome</th>
					<th>Centro</th>
					<th>Ora</th>
				</tr>
				<tr th:each="attivita: ${listattivita}">
					<td><span th:text="${attivita.nome}"></span></td>
					<td><a th:href="@{'/centro' + '/' + ${attivita.centro.id}}"><span
							th:text="${attivita.centro.nome}"></span></a></td>

					<td><span th:text="${attivita.ora}"></span></td>
				</tr>
			</table>

		</header>
	</section>


	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<div class="row double">
				<div class="6u">
					<h2>Social</h2>
					<span>Seguici sui nostri social: </span>
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span
								class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span
								class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span
								class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-linkedin"><span
								class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon fa-pinterest"><span
								class="label">Pinterest</span></a></li>
					</ul>
				</div>
			</div>
			<ul class="copyright">
				<li>&copy; ACME FORMAZIONE SPA</li>
				<li>Capitale sociale: 230000</li>
				<li>Created by: Flavio Pierfederici, Riccardo Ungaro, Edoardo
					Costantini</li>

			</ul>
		</div>
	</footer>

</body>
</html>